listen: ":8081"
mount_path: ""
session_secret: "CHANGE_ME"
csrf_secret: "CHANGE_ME"
data_source: "user:password@tcp(localhost)/database"
frontend_origin: "https://change_me"
auth:
    client_id: "CHANGE_ME"
    client_secret: "CHANGE_ME"
    redirect_url: "https://CHANGE_ME/LoginComplete"
    auth_url: "https://login.france-ioi.org/oauth/authorize"
    token_url: "https://login.france-ioi.org/oauth/token"
    profile_url: "https://login.france-ioi.org/user_api/account"
    logout_url: "https://login.france-ioi.org/logout"
game:
    api_version: "3.0.0"
blocks:
    store_path: "/srv/store"
    task_tools_cmd: "task_tools.bc"
    task_helper_cmd: "task_helper.js"
